@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f0eaff;
}

header h1,
.fetchButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentHerokuStatus {
  display: flex;
  max-width: 10rem;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.currentHerokuStatus h3,
.currentGithubStatus h3 {
  border-bottom: 1px solid black;
}